:root {
  --bg-prim: #2c2c3d;
  --text-prim: #e6ebf4;
  --bg-sec: #232130;
  --text-sec: #fcfdff;
}

html {
  background-color: var(--bg-prim);
  color: var(--text-prim);
  font-family: Arial, sans-serif;
}

button {
  border: none;
  padding: 0.3rem 0.4rem;
  background: var(--bg-sec);
  color: var(--text-sec);
  min-width: 2rem;
  border: solid 1px var(--text-prim);
}

input[type="checkbox"] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  min-width: 1.15em;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--text-prim);
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-right: 0.5em;
}

input[type="checkbox"]:checked::before {
  font-size: 0.8em;
  content: "✔";
  color: var(--text-prim);
}

.checkbox-and-label {
  display: flex;
  align-items: center;
}

.svelte-flow__node {
  padding: 10px;
  border: 1px solid var(--text-sec);
  border-radius: 5px;
  background-color: var(--bg-prim);
  color: var(--text-sec);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
}

.svelte-flow {
  background-color: var(--bg-prim) !important;
}

input[type="text"] {
  background-color: var(--bg-sec);
  color: var(--text-sec);
  margin-bottom: 0.3rem;
  border: solid 1px var(--text-prim);
}

input[type="number"] {
  background-color: var(--bg-sec);
  color: var(--text-sec);
  margin-bottom: 0.3rem;
  border: solid 1px var(--text-prim);
}

