:root {
  --bg-prim: #2c2c3d;
  --text-prim: #e6ebf4;
  --bg-sec: #232130;
  --text-sec: #fcfdff;
}

html {
  background-color: var(--bg-prim);
  color: var(--text-prim);
  font-family: Arial, sans-serif;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.3rem 0.4rem;
  background: var(--bg-sec);
  color: var(--text-sec);
  min-width: 2rem;
  border: solid 1px var(--text-prim);
  height: 27.5px;
}

a {
  color: var(--text-prim);
}

a:hover {
  color: var(--text-sec);
}

a:visited {
  color: var(--text-prim);
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  min-width: 1.15em;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--text-prim);
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-right: 0.5em;
}

input[type="checkbox"]:checked::before {
  font-size: 0.8em;
  content: "✔";
  color: var(--text-prim);
}

.checkbox-and-label {
  display: flex;
  align-items: center;
}

.svelte-flow__node {
  padding: 10px;
  border: 1px solid var(--text-sec);
  border-radius: 5px;
  background-color: var(--bg-prim);
  color: var(--text-sec);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
}

.svelte-flow {
  background-color: var(--bg-prim) !important;
}

input[type="text"] {
  background-color: var(--bg-sec);
  color: var(--text-sec);
  margin-bottom: 0.3rem;
  border: solid 1px var(--text-prim);
}

input[type="number"] {
  background-color: var(--bg-sec);
  color: var(--text-sec);
  margin-bottom: 0.3rem;
  border: solid 1px var(--text-prim);
}

/* Remove arrow buttons from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


select {
  cursor: pointer;
  background-color:var(--bg-sec);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
  background-position: right 5px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  border: solid 1px var(--text-prim);
  color: #ffffff;
  padding: 5px 25px 5px 5px;

  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &::-ms-expand { display: none };
}
